@import "./tokens/root.css";

/* Display */
.display-large {
  font-family: var(--font-inter);
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
  font-weight: 400;
}

.display-medium {
  font-family: var(--font-inter);
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0;
  font-weight: 400;
}

.display-small {
  font-family: var(--font-inter);
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  font-weight: 400;
}

/* Headline */
.headline-large {
  font-family: var(--font-inter);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
  font-weight: 400;
}

.headline-medium {
  font-family: var(--font-inter);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: 400;
}

.headline-small {
  font-family: var(--font-inter);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 400;
}

/* Title */
.title-large {
  font-family: var(--font-inter);
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
}

.title-medium {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight: 500;
}

.title-small {
  font-family: var(--font-inter);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
}

/* Label */
.label-large {
  font-family: var(--font-roboto);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
}

.label-medium {
  font-family: var(--font-roboto);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.label-small {
  font-family: var(--font-roboto);
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

/* Body */
.body-large {
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.body-medium {
  font-family: var(--font-roboto);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-weight: 400;
}

.body-small {
  font-family: var(--font-roboto);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
}